slack-sdk>=3.4.0
slackeventsapi==2.2.1
aiohttp==3.7.3
# Use explicit commit to include slack @ reference fix.  Will be available when markdown v3.3.5 is released
git+https://github.com/Python-Markdown/markdown.git@9aa4586d92181a07d3c054d81ada9b100c879d68#egg=Markdown
