name: Test

on:
  push:
    branches: '**'
    paths-ignore:
      - '*.md'
  pull_request:
    branches: [ main ]
    paths-ignore:
      - '*.md'

jobs:
  test:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: "3.9"
      - name: install deps
        run: |
          pip install errbot[slack] mock pytest pytest-pep8 coverage
          pip install -r requirements.txt
      - name: test
        run: coverage run slackv3.py --pep8
