name: Test

on:
  push:
    branches: '**'
    paths-ignore:
      - '*.md'
  pull_request:
    branches: [ main ]
    paths-ignore:
      - '*.md'

jobs:
  test:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - name: install deps
        run: |
          sudo apt update && sudo apt install -y python3 python3-dev
          pip install errbot mock
          pip install -r requirements.txt
      - name: test
        run: find tests -name '*.py' -exec python {} \;

